.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 35px 0 0 0;
  padding: 35px 0 0 2em;
  border-top: 1px solid rgba(127, 150, 176, 0.31);
}

.todo-item:first-child {
  margin: 0;
}

.todo-item__content {
  max-width: calc(100% - 2em);
  width: 100%;
  word-break: break-all;
  font-size: 22px;
  text-decoration: none;
  cursor: pointer;
  color: #3b4457;
  outline: 0;
}

.todo-item--completed > .todo-item__content {
  text-decoration: line-through;
}

.todo-item__button {
  border: 0;
  background: 0;
  cursor: pointer;
  outline: 0;
}

.todo-item__button:hover > .todo-item__button-icon,
.todo-item__button:focus > .todo-item__button-icon {
  opacity: .5;
}

.todo-item__button-icon {
  width: 1.8em;
  height: 1.8em;
  color: #7f96b0;
  transition: opacity .15s linear;
}

@media screen and (max-width: 620px) {
  .todo-item {
    padding: 35px 0 0 0;
  }
  .todo-item__content {
    font-size: 16px;
  }
}
