.login-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 275px;
  margin: 0 auto;
  transition: filter .15s linear;
}

.login-form--disabled {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 275px;
  margin: 0 auto;
  filter: grayscale(100%);
}

.login-form__input {
  width: 100%;
  height: 35px;
  margin-top: 20px;
  background: transparent;
  border: 2px solid rgba(104, 121, 165, 0.65);
  padding: 0 10px;
  border-radius: 5px;
  color: #56677f;
  outline: 0;
  font-size: 16px;
}

.login-form__input::placeholder {
  color: #56677f;
  opacity: .65;
}

.login-form__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
}

.login-form__controls-button {
  width: 45%;
  height: 40px;
  border: 2px solid rgba(104, 121, 165, 0.65);
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  color: #56677f;
  cursor: pointer;
  background-color: transparent;
  transition: background-color .15s linear;
}

.login-form__controls-button:hover {
  background-color: rgba(185, 201, 218, 0.3);
}

.login-form__controls-button:disabled {
  cursor: default;
}

.login-form__controls-button:disabled:hover {
  background-color: transparent;
}

.login-form__controls-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  color: #56677f;
}

.login-form__controls-link--disabled {
  cursor: default;
  pointer-events:none;
}
